<!DOCTYPE html>
<html lang="is">
  <head>
    <meta charset="utf-8">
    <title>Kennitala skráð</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="grid">
      <p class="row col">Þessi kennitala er skráð nú þegar</p>
    </div>
  </body>
</html>