@import 'grid';

.invalid {
  background-color: #f005;
}

h1, h2 {
  justify-content: center;
}

button {
  padding: 10px 20px;
  margin: 20px 0px;
}

hr {
  border-style: dashed;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px 5px;
}
