@import 'grid';

$border-color: #c9ca9b;

* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

body {
  background-color: #ffffec;
}

h1,
h2,
.villur {
  justify-content: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

input {
  border: 1px solid $border-color;
  border-radius: 5px;
}

textarea {
  border: 1px solid $border-color;
  border-radius: 5px;
}

button {
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: 5px;
  font-size: 1.5em;
  margin: 20px 0;
  padding: 10px 20px;
}

hr {
  border-style: dashed;
}

td {
  border: 1px solid $border-color;
  border-collapse: collapse;
  padding: 10px 5px;
}

.tb-header {
  text-align: center;
}

.invalid {
  background-color: #f005;
}
